<div id=txt2>
    <p>The Wildlife Conservation Society was originally 
        chartered by the state of New York on April 26, 1895. 
        Then known as the New York Zoological Society, the organization 
        embraced a mandate to advance wildlife conservation, promote the 
        study of zoology, and create a first-class zoological park. Its name was changed 
        to the Wildlife Conservation Society in 1993. 
        Among the founders of WCS were Andrew H. Green, best known as the father 
        of greater New York City, Henry Fairfield Osborn, Columbia University professor 
        and curator of the American Museum of Natural History, 
        and George Bird Grinnell, founder of the Audubon Society 
        and editor of Forest and Stream Magazine. Theodore Roosevelt, 
        Madison Grant, members of the Boone and Crockett Club, 
        and other notable New Yorkers were also involved in the Society's creation.
    </p>
</div>
