<form id=form1>
    <label>Name  </label>
    <input type="text" id="f1">
    <br>
    <label>Email</label>
    <input type="text" id="f1">
    <br>
    <input type="checkbox"> Receive Updates
    <br>
    <input type="submit" name="Submit" id="s1">
</form>
<div id=c1>
    <strong>For more updates follow us @SavingtheWild</strong>
    <img src="assets/facebook.png" height="30px" width="30px">
    <img src="assets/Instagram.jpg" height="30px" width="30px">
    <img src="assets/Twitter.png" height="30px" width="30px">

</div>
