#im1{
    position: absolute;
    top:100px;
    left:20px;
    height: 300px;
    width:400px;
    border:5px solid greenyellow;
    box-shadow:5px 5px 5px rgb(202, 252, 127);
    transition: all 3s;
}
#im1:hover{
    -webkit-transform: scale(1.15);
    -ms-transform:scale(1.15);
    transform: scale(1.15);
}
#im2{
    position: absolute;
    top:100px;
    left:920px;
    height: 300px;
    width:400px;
    border:5px solid greenyellow;
    box-shadow:5px 5px 5px rgb(202, 252, 127);
    transition: all 3s;
 }
 #im2:hover{
     -webkit-transform: scale(1.15);
     -ms-transform:scale(1.15);
     transform: scale(1.15);
 }

 #txt1{
    height:120px;
    width:1300px;
    position: absolute;
    top:450px;
    left:30px;
    border:2px solid green;
    font-family: cursive;
    box-sizing: border-box;
    text-align: justify;
    padding-left: 2px;
    padding-right:2px;    
}

