<div id=im1 [title]="data">
    <img [src]="url" alt="" height="300px" width="400px">
</div>
<div id=im2 [title]="data1">
   
    <img [src]="url1" alt="" height="300px" width="400px">

</div>
<div id=txt1>
    <p>Like forests, wildlife is also a national resource, 
        which not only helps in maintaining the ecological balance 
        but is also beneficial from economic, recreational and aesthetic
         points of view. There was a time when human interference was 
         minimum the number of wild animals was quite high and there
          was no problem of their protection or conservation. 
          But, with the expansion of agriculture, settlement, 
          industrial and other developmental activities and mainly 
          due to greed of man, the number of wild animals gradually
           became lesser and lesser. With the result that several
         species of animals have become extinct and several, others are on the verge of being so.
    </p>
</div>


